@model InterviewMvcApp.Models.Employee

@{
    ViewBag.Title = "GetEmployee";
}

<h2>GetEmployee</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hire_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hire_Year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
